<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Space Transporter</title>
</head>
<body>
    <h1>Space Transporter</h1>
    <table>
        <tr>
            <td>Planet</td>
            <td>Population</td>
            <td>Spaceship</td>
            <td>Location</td>
            <td>People on ship</td>
        </tr>
        @foreach (var item in collection)
        {

        }
    </table>
</body>
</html>