@model ExampleExam.ViewModel.PlanetsShip

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Space Transporter</title>
</head>
<body>
    <h1>Space Transporter</h1>
    <table>
        <thead>
            <tr>
                <td>Planet</td>
                <td>Population</td>
                <td>Spaceship Location</td>
                <td>People on ship</td>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Planets.Count; i++)
            {
                <tr>
                    <td>@Model.Planets[i].Name</td>
                    <td>@Model.Planets[i].Population</td>
                    @if (Model.Spaceship.Planet == Model.Planets[i].Name)
                    {
                        <td>
                            <a href="/toplanet/@Model.Planets[i].Id">to planet</a>
                            <a href="/toship/@Model.Planets[i].Id">to ship</a>
                        </td>
                    }
                    else
                    {
                        <td><a href="/movehere/@Model.Planets[i].Id">Move here</a></td>
                    }
                    @if (Model.Spaceship.Planet == Model.Planets[i].Name)
                    {
                        <td>@Model.Spaceship.Utilization</td>
                    }
                    else
                    {
                        <td>---</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</body>
</html>