<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <p>@Model.Number</p>
    <form action="/index" method="post">
        <button type="submit" value="Submit">Increase</button>
    </form>
</body>
</html>

