<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Anagram Checker</h1>
    <form action="/anagram/check" method="post">
        <label>Word 1</label><input type="text" name="word1" value="" />
        <label>Word 2</label><input type="text" name="word2" value="" />
        <button type="submit">Check Anagram</button>
    </form>
</body>
</html>